html{
    background-image: url("kepek_eyiptom/egyiptomihatter.jpg");
    /* background-image: url("kepek_autok/auto1_resize.jpg"); */
}

.e-body {
    /* background-image: url("kepek_eyiptom/egyiptomihatter.jpg"); */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; */
    /* font-fami ; */
    /* font-fami ; */
    /* font-fami ; */
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 0.8rem;
    background-color: rgb(225, 190, 101);
    width: 600px;
    height: 800px;
    /* text-align: center; */
    margin: auto;
    /* col; */
    /* col; */
    color: rgb(187, 22, 55);
    /* color: ; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ; */
    
}

/* h1, h2{
    letter-spacing: 5px;
} */

.e-h1 {
    text-align: center;
    padding-top: 2rem;
    letter-spacing: 5px;
    /* align-items: center; */
    /* padding: 0; */
    /* margin: auto; */
}

.vonal{
    border: none;
    height: 1px;
    margin: 5px;
    background-color: rgb(187, 22, 55);
}

.e-h2 {
    text-align: center;
    letter-spacing: 5px;
    /* padding: 0; */
    /* margin: auto; */
}

.e-p{
    color: brown;
    text-align: justify;
}